body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background: #111;
  color: white;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-hover {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
}
.img {
  position: absolute;
  width: 40px;
  height: 40px;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease;
}
.img-default {
  background-image: url("assets/Ponysona_orange.png");
  opacity: 1;
}
.img-hovered {
  background-image: url("assets/Ponysona_trans.png");
  opacity: 0;
}
.img-hover:hover .img-hovered {
  opacity: 1;
}
.img-hover:hover .img-default {
  opacity: 0;
}
.logo p, h1{
  margin: 0;
}

nav a {
  color: white;
  margin: 0 10px;
}
a {
  color: rgb(87, 87, 87);
  text-decoration: overline;
}
a:hover {
  color: orange;
}

.banner {
  text-align: center;
  background: rgb(105, 19, 216);
  padding: 1em;
  transition: 0.3s;
}
.banner:hover {
  background: rgb(140, 58, 247);
}
.banner h2 {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.banner p {
  color: white;
}

.content {
  padding: 2em;
  max-width: 1440px;
  min-height: 1000px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 1em;
  background: #111;
  color: #ccc;
}